<?php
setlocale(LC_ALL, $language->translateCode);
?>
<!doctype html>
<html lang="<?php echo strtolower($language->short); ?>">

<head>
	\{{{labels.GOOGLETAGMANAGERHEAD.label}}}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- style:css -->
	<!-- endinject -->

	<meta name="description" content="\{{settings.description}}">
	<meta name="keywords" content="\{{settings.keywords}}">

	<meta property="og:locale" content="<?php echo $language->translateCode; ?>" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="<?php echo strip_tags($content->title); ?>" />
	<meta property="og:description" content="<?php echo strip_tags($content->lead); ?>" />
	<meta property="og:url" content="<?php echo (isset($_SERVER['HTTPS']) && $_SERVER['HTTPS'] === 'on' ? "https" : "http") . "://{$_SERVER['HTTP_HOST']}" . "/" . $content->deeplink; ?>" />
	<?php if (count($content->files->imageFiles) || isset($facebookImages)) { ?>
		<meta property="og:image" content="<?php $facebookFile = $content->files->imageFiles[0]->file;
											if (isset($facebookImages)) {
												if (is_array($facebookImages)) {
													$facebookFile = $facebookImages[0]->file;
												}
											}
											echo $settings->siteURL . "ema-thumb?src=/frontend/contents/" . $facebookFile;  ?>&zc=1&q=100&w=1200&h=624" />
	<?php } 	?>
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="624" />

	<title>\{{settings.title}} <?php if ($content->title) { ?>- <?php echo strip_tags($content->title); ?><?php } ?></title>

</head>

<body>
	\{{{labels.GOOGLETAGMANAGERBODY.label}}}
	{{>header}}

	{{> body}}

	{{>footer}}

	<!-- main:js -->
	<!-- endinject -->

</body>

</html>